shared/*.key
node_modules
*node_modules*
game-server/node_modules
game-server/config
game-server/logs/tmp
game-server/logs/*
game-server/logs/*.log
game-server/logs/*.log.*
game-server/logs/*.log-*
web-server/node_modules
web-server/logs/tmp
web-server/logs/*
web-server/logs/*.log
web-server/logs/*.log.*
.exrc
*.swp
*.class
npm-debug.log
*.pcap
.idea
*~
.DS_Store
